# Terraform
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
.terraform*

#Lambda
build/*
!build/.gitkeep
*.zip
!content.zip

#IDEs
.idea
.vscode

#MAC OS
.DS_Store
*.DS_Store

#Python
__pycache__*
*/__pycache__*
.venv/*
test_reports
.pytest_cache
.coverage
htmlcov

#Testing
.env
.envrc
