org_primary_account = "012345678901"
slack_channel       = "security-alerts"
slack_channel_dev   = "security-alerts-dev"
slack_webhook_url   = "https://hooks.slack.com/services/XXXXXXXXX/XXXXXXXXX/XXXXXXXXXXXXXXXXXX"
#external_id        = "xxxxxxxxxxxxxxxxxxxxxx" #include if role to assume requires an external ID