name: Integration Tests
on:
  push:

jobs:
  integration_tests:
    name: Integration Test
    runs-on: ubuntu-latest
    permissions:
      checks: write # Required for Publish Test Results
      pull-requests: write # Required for Publish Test Results
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: test
        run: |
          pytest --cov=manual_scans --cov=utils --cov-branch --cov-fail-under=19 --junitxml=test_reports/junit-integration.xml integration_tests

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: "test_reports/junit-integration.xml"
          check_name: "Integration Test Results"
          comment_title: "Integration Test Results"
